/* https://cloudninja.pw/docs/wofi.html */
window { /* deixa transparent o fundo */
    background-color: rgba(53, 185, 171, 0.2); 
}

#input { /* deixa a bar de pesquiisa transparent */
    color: rgba(200, 116, 37, 1);
    background-color: transparent;
    font-size: 16px;
}

#scroll { /* texto todo */
    font-size: 16px;
    color: #ffffffff;
}

#entry:selected { /* emfoco */
    color: rgba(315, 186, 37, 1);
    background-color: rgba(53, 185, 171, 0.3);
}
